#lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
.project
.DS_Store
#node_modules/
.Rhistory
.idea/
config/dashboards/cache/
nohup.out
# Example code in package build packages
*-Ex.R

