body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title form input{
	background-color: red;
}
.title form:focus input{
	background-color: blue;
}

